@import url('../../../styles//index.css');

.table-body {
  display: grid;
  grid-template-columns: repeat(2, minmax(16ch, 1fr)) 10ch;
  gap: 0.3rem 1ch;
}

.table-body .table-header {
  text-align: center;

  position: sticky;
  top: 6vh;
  left: 0;
  background-color: var(--color-white);
}

.table-body .table-row {
  text-align: left;
}
